html,
body {
  background-color: #fff;
  color: #636b6f;
  /* font-family: 'Nunito', sans-serif; */
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links,
.title {
  clear: both;
  display: block;
  width: 100%;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

